objects/main.o objects/start_rtv1.o objects/handle/touch.o objects/parser_files/parser.o objects/parser_files/verify_specs_setup.o objects/parser_files/verify_shapes.o objects/parser_files/verify_onearg.o objects/parser_files/verify_threeargs.o objects/parser_files/verify_uniform_args.o objects/parser_files/verify_obj_voc.o objects/parser_files/verify_obj_voc_checker.o objects/parser_files/verify_spec_voc.o objects/parser_files/debugger.o objects/parser_files/debugger_two.o objects/parser_files/debugger_three.o objects/parser_files/verify_oneargs_partwo.o objects/parser_files/verify_threeargs_partwo.o objects/parser_files/globals_and_set_vocab.o objects/parser_files/verify_shapes_two.o objects/parser_files/create_links.o objects/raycasting_files/color.o objects/raycasting_files/intersec_functions.o objects/raycasting_files/raycast.o objects/raycasting_files/syn.o objects/raycasting_files/vector_op.o
RTv1
