/* 
COLOR PALETTTE:

    dark green: #2b580c
    light green: #afa939
    moss green: #587850
    pale green: #709078
    light teal: #78b0a0
    beige:      #f8d0b0
    YELLOW:     #f7b71d
    LIGHT YEL   #fdef96
*/

html,
body {
  height: 100%;
}

body {
  background-color: #f8d0b0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #587850;
  height: 6vw;
  font-family: "Righteous", cursive;
}

.header h3 {
  color: #f7b71d;
  text-align: center;
  padding-top: 1vw;
  font-size: 3vw;
}

.the_form_container   /* working here !!!!!!!!! */
 {
  /* light green: #afa939
    moss green: #587850
    pale green: #709078 */
  /* border: 1px solid green; */
  background-color: #afa939;
  width: 50vw;
  height: 40vw;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

#object_options {
  cursor: pointer;
}

.update_me {
  padding-top: 5vw;
  text-align: center;
  border: 1px solid red;
}

/* SHAPES CHOSEN TEXT */
#chosen_shape {
  /* border: 1px solid red; */
  font-family: "Righteous", cursive;
  font-size: 20px;
}

/* span ID for the selected shape text after option select */
#selected_shape {
  color: #2b580c;
}

/* span ID for the selected shape text after option select */
#shape_chosen_text {
  color: #fdef96;
}

.objects_opt /* for the select options ! */
 {
  -webkit-appearance: none;
  background-color: #587850;
  outline: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 15px 10px 15px;
  border: none;
  position: relative;
  color: white;
}

/* generic style for each shape ! */
.output_object {
  text-align: center;
  margin-top: 4vw;
  padding-bottom: 3vw;
  color: #fdef96;
  border: 1px solid blue;
  text-align: center;
}

.output_object form {
  margin-right: 15%;
}

#txt_simple {
  float: left;
  padding-left: 13vw;
}

#input_simple {
  border: 1px none;
  float: right;
  padding-right: 10vw;
  background-color: #fdef96;
  color: #2b580c;
  cursor: pointer;
  outline: none;
}

.span_input_complex {
  margin-bottom: 50px !important;
}

#input_complex {
  outline: none;
  border: 1px none;
  float: right;
  margin-left: 5px;
  width: 10%;
  background-color: #fdef96;
  color: #2b580c;
}

::placeholder {
  color: #709078;
}

#object_chosen {
  border: 1px solid green;
  text-align: center;
}


/* ON / OFF OBJECTS */
#cone_object
{
  display: none;
}


/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7b71d;
  color: #587850;
  text-align: center;
}

/* BUTTONS */
.buttons {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #587850;
  cursor: pointer;
  color: #f8d0b0;
  font-size: 12px;
  transition: all 0.6s ease;
  position: relative;
  border: none;
  line-height: 17px;
  padding: 8px 10px 8px 10px;
}

.buttons:hover {
  background: #fdef96;
  text-decoration: none;
  color: #587850;
}
