html, body {
    height: 100%;
}

body
{
    background-color: pink;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    background-color: indianred;
    height: 6vw;
    font-family: 'Righteous', cursive;
}

.header h3
{
    text-align: center;
    padding-top: 1vw;
    font-size: 3vw;
}

.the_form_container
{
    background-color: lightyellow;
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.objects
{
    text-align: center;
    /* margin-left: 50%; */
}

.object_options
{
    background-color: dodgerblue;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightcoral;
    color: black;
    text-align: center;
}